body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

form{
    align-items: center;
    width: 500px;
    height: 200px;
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 445px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    align-items: center;
}
label{
    float: left;
    font-size: 14px;
    margin-bottom: 5px;
}
button{
    width: 70%;
    padding: 10px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 30px;
}
button:hover{
    background: #d1ffd8;
    color: #5cb85c;
    border-color: #2cfb2c;
}
